<script type="text/javascript">
	var metadata = {}
	var metadata_keys = []
	jQuery.getJSON("/metadata/keyvalues",function(data){
		metadata=data;
		metadata_keys = _.keys(metadata);
	});
	$LAB.script("j/lib/backbone-min.js").script("j/lib/jquery-ui-1.8.21.custom.min.js").script("/j/lib/visualsearch.js").wait(function(){
		$(function(){
			var visualSearch = VS.init({
				container : $('.visual_search'),
				query     : '',
				remainder: "Metadata",
				callbacks : {
					search       : function(query, searchCollection) {
//						searchCollection.forEach(function(facet){
//							var category = facet.get("category")
//							var value = facet.get("value")
//							if (value == "searching..."){
//								searchCollection.remove(facet)
//							}
//						});
					},
					facetMatches : function(callback) {callback(metadata_keys);},
					valueMatches : function(facet, searchTerm, callback) {
//						callback(["searching..."])
//						jQuery.getJSON("/metadata/values/"+facet,function(json){
//							setTimeout(function(){
//								callback(json)
//							},1000);
//						});
						callback(metadata[facet])
					}
				}
			});
		});
	});
</script>
<script src="" type="text/javascript"></script>
<!--[if (!IE)|(gte IE 8)]><!-->
<link href="/c/visualsearch-datauri.css" media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->
<!--[if lte IE 7]><!-->
<link href="/c/visualsearch.css" media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->

<div class="container data-page">
	<div class="accordion" id="accordion2">
		<div class="accordion-group" >
			<div class="accordion-heading">
				<a class="accordion-toggle no_underline" data-toggle="collapse"  href="#collapseOne"><b>Source Filter</b><em><small class="margin-10 muted">&#8212; Select data sources that belong to a particular experiment or node, stream</small></em></a>
			</div>
			<div id="collapseOne"  class="accordion-body collapse in accordion-toggle" >
				<div class="accordion-inner">
					<select class="span3" ng-change="apply_filters()" ng-model="experiment_selector">
						<option selected value="">All Experiments</option>
						<option ng-repeat="e in experiment_names" value="{{e}}">{{e}}</option>
					</select>
					<select class="span3" ng-change="apply_filters()" ng-model="node_selector">
						<option selected value="">All Nodes</option>
						<option ng-repeat="n in node_names" value="{{n}}">{{n}}</option>
					</select>
					<select class="span3" ng-change="apply_filters()" ng-model="stream_selector">
						<option selected value="">All Streams</option>
						<option ng-repeat="s in stream_names" value="{{s}}">{{s}}</option>
					</select>
					<select class="span3" ng-change="apply_filters()" ng-model="measurement_selector" >
						<option selected value="">All Measurements</option>
						<option ng-repeat="m in measurements" value="{{m._id}}">{{m.name}}</option>
					</select>

				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle no_underline" data-toggle="collapse"  href="#collapseTwo"><b>Date Range Filter</b><em><small class="margin-10 muted">&#8212; Find data sources that have data for a given date range</small></em></a>
			</div>
			<div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
				<div class="accordion-inner">
					<div class="span7 no-left-margin" style="width: 520px">
						<div class="btn-group" id="month-selector" data-toggle="buttons-checkbox">
							<a class="btn active"  ng-click="month_updated()" >Jan</a>
							<a class="btn active"  ng-click="month_updated()" >Feb</a>
							<a class="btn active"  ng-click="month_updated()" >Mar</a>
							<a class="btn active"  ng-click="month_updated()" >Apr</a>
							<a class="btn active"  ng-click="month_updated()" >May</a>
							<a class="btn active"  ng-click="month_updated()" >Jun</a>
							<a class="btn active"  ng-click="month_updated()" >Jul</a>
							<a class="btn active"  ng-click="month_updated()" >Aug</a>
							<a class="btn active"  ng-click="month_updated()" >Sep</a>
							<a class="btn active"  ng-click="month_updated()" >Oct</a>
							<a class="btn active"  ng-click="month_updated()" >Nov</a>
							<a class="btn active"  ng-click="month_updated()" >Dec</a>
						</div>
					</div>
					<div class="span2">
						<select id="year-selector" class="span2" >
							<option value="-1">All years</option>
							<option value="2005">2005</option>
							<option value="2006">2006</option>
							<option value="2007">2007</option>
							<option value="2008">2008</option>
							<option value="2009">2009</option>
							<option value="2010">2010</option>
							<option value="2011">2011</option>
							<option value="2012">2012</option>
						</select>
					</div>
					<div class="span1">
						<a class="btn">Reset</a>
					</div>
				</div>
			</div>
		</div><div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle no_underline" data-toggle="collapse"  href="#collapseHourly"><b>Time of Day Filter</b><em><small class="margin-10 muted">&#8212; Find data sources that have data for a given time range</small></em></a>
		</div>
		<div id="collapseHourly" class="accordion-body collapse" style="height: 0px; ">
			<div class="accordion-inner">
				<div class="span7 no-left-margin">

				</div>
				<div class="span2">

				</div>
				<div class="span1">
					<a class="btn">Reset</a>
				</div>
			</div>
		</div>
	</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle no_underline" data-toggle="collapse"  href="#collapseThree"><b>Metadata Filter</b><em><small class="margin-10 muted">&#8212; Find data sources that are annotated with a particular metadata value</small></em></a>
			</div>
			<div id="collapseThree" class="accordion-body collapse">
				<div class="accordion-inner">
					<div class="row">
						<div class="visual_search span11"  style="width:910px;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr/>
	<div ng-show="filtering_results">
		<div class="row" >
			<h3 class="span4" >Streams ({{filtering_results.s.length}} rows)</h3>
			<!--<div class="span3 pull-right">-->
			<!--<div class="btn-group pull-right" id="agg_period" data-toggle="buttons-radio">-->
			<!--<a class="btn"  ng-click="set_agg_period('hourly')">Hourly</a>-->
			<!--<a class="btn"  ng-click="set_agg_period('daily')" >Daily</a>-->
			<!--<a class="btn"  ng-click="set_agg_period('monthly')" >Monthly</a>-->
			<!--<a class="btn active"  ng-click="set_agg_period('all')" >All</a>-->
			<!--</div>-->
			<!--</div>-->
		</div>
		<div class="pad-bottom-10"></div>
		<table class="table table-bordered table-striped tablesorter" ng-show="filtering_results" id="data-table">
			<thead>
			<tr>
				<th>Experiment</th>
				<th>Node</th>
				<th>Stream</th>
				<th>Count</th>
				<th>Min</th>
				<th>Max</th>
				<th>Avg</th>
				<th>StDev</th>
				<th>Last Value</th>
				<th>Last Timestamp</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="i in filtering_results.s">
				<td><a href="/#/data/{{user}}/{{nodes[streams[i].nid].eid}}">{{experiments[nodes[streams[i].nid].eid].name}}</a></td>
				<td><a href="/#/data/{{user}}/{{streams[i].nid}}">{{nodes[streams[i].nid].name}}</a></td>
				<td><a href="/#/data/{{user}}/{{i}}">{{streams[i].name}}</a></td>
				<td>{{filtering_results.data[i][6] || 0 | number:0}}</td>
				<td>{{filtering_results.data[i][4] || 0 | number:3}}</td>
				<td>{{filtering_results.data[i][5] || 0 | number:3}}</td>
				<td>{{((filtering_results.data[i][7]/filtering_results.data[i][6]) || 0 | number:3)}}</td>
				<td>{{(calc_std(filtering_results.data[i][7],filtering_results.data[i][8],filtering_results.data[i][6]) || 0 | number:3) }}</td><!--   s = square root of[(sum of Xsquared -((sum of X)*(sum of X)/N))/(N-1)] -->
				<td>{{filtering_results.data[i][3] || 0 | number:3}}</td>
				<td>{{(filtering_results.data[i][1] && (filtering_results.data[i][1] - local_tz_offset)*1000 | date:'dd MMM yyyy HH:mm:ss') || "-"}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<div ng-include src="'/p/footer.html'"></div>