<div class="container data-page">
	<div ng-include src="'/p/data_page_header.html'"></div>
	<div ng-include src="'/p/data_page_stream.html'"></div>
	<div ng-include src="'/p/data_page_node.html'"></div>
	<div ng-include src="'/p/data_page_experiment.html'"></div>
	<div ng-include src="'/p/data_page_metadata.html'"></div>

	<div>
		<form class="form-horizontal">
			<h3 class="pull-left span2 no-left-margin">Filters</h3>
			<div class="btn-toolbar" style="margin-top: 18px;">
				<div class="btn-group filter-selector" id="experiment-filter" >
					<a class="btn dropdown-toggle " data-toggle="dropdown"><span class="btn-label">Choose an Experiment</span> <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li ng-repeat="e in experiment_names"><a>{{e}}</a></li>
					</ul>
				</div><!-- /btn-group -->
				<div class="btn-group filter-selector" id="node-filter">
					<a class="btn dropdown-toggle" data-toggle="dropdown"><span class="btn-label">All Nodes</span> <span class="caret"></span></a>
					<ul  class="dropdown-menu">
						<li><a href="">All Nodes</a></li>
						<li class="divider"></li>
						<li ng-repeat="n in node_names"><a>{{n}}</a></li>
					</ul>
				</div><!-- /btn-group -->
				<div class="btn-group filter-selector" id="stream-filter">
					<a class="btn dropdown-toggle" data-toggle="dropdown"><span class="btn-label">All Streams</span>  <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a>All Streams</a></li>
						<li class="divider"></li>
						<li ng-repeat="s in stream_names"><a href="">{{s}}</a></li>
					</ul>
				</div><!-- /btn-group -->
				<div class="btn-group pull-right" data-toggle="buttons-radio">
					<a class="btn active" id="data-today">Today</a>
					<a class="btn" id="data-7d">7d</a>
					<a class="btn" id="data-30d">30d</a>
					<a class="btn" id="data-1q">1q</a>
					<a class="btn" id="data-1y">1y</a>
					<a class="btn" id="data-ever">All</a>
				</div>
			</div>
		</form>
		<table class="table table-bordered table-striped tablesorter" id="data-table">
			<thead>
			<tr>
				<th>Experiment</th>
				<th>Node</th>
				<th>Stream</th>
				<th>Count</th>
				<th>Min</th>
				<th>Max</th>
				<th>StDev</th>
				<th>Avg</th>
				<th>Last Value</th>
				<th>Last Timestamp</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="i in filtered_rows">
				<td><a href="/#/data/{{user}}/{{i.e}}">{{experiments[i.e].name}}</a></td>
				<td><a href="/#/data/{{user}}/{{i.n}}">{{nodes[i.n].name}}</a></td>
				<td><a href="/#/data/{{user}}/{{i.s}}">{{streams[i.s].name}}</a></td>
				<td>24,541</td>
				<td>-10.231</td>
				<td>43.654</td>
				<td>3.432</td>
				<td>17.342</td>
				<td>19.342</td>
				<td>25 minutes ago</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<div ng-include src="'/p/footer.html'"></div>